<div style="margin-left:10%">
	<h1>Servidor usando express</h1>
	<span><em>Estudando Node JS</em></span>
</div>
</br></br>
<div>
	<pre style="color:green">
		{
			servidor:'express',
			templare:'ejs'
		}
	</pre>
</div>